@page "/auth"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize(Roles = "Admin")]
@rendermode InteractiveAuto

<PageTitle>Auth</PageTitle>




<AuthorizeView Roles="Admin">
    <h1>You are authenticated</h1>
    Hello Admin!
</AuthorizeView>

